body {
    
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;

}

.heading {
    font-size: 44px;
    text-align: center;
}

.heading-2 {
    font-size: 38px;
    text-align: center;
}

.btn-main {
    cursor: pointer;
}


.schedule-body {
    width: 121px;
    height: 38px;
    flex-direction: row;
    text-align: center;
    background-color: #F5F4FA;
    font-size: 16px; 
}

.schedule-body:hover {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    transition: ease-out 0.3s;
}

ul {
    list-style: none;
    
} 

.nav-element {
    display: inline;
}



.portfolio-button {
    display: inline;
    padding: 20px;
    border: 10px;
      
}


.portfolio-buttons {
    margin-top: 174px;
    margin-bottom: 50px;
    margin-left: 510px;
    margin-right: 158px;

}

.img-list-1 {
    display: inline;
}

